body{
    padding:5px 10px;
}

#background {
    background-image: url("./images/background.png");
}

#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    width:600px;
    height:56px;
}

.items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "DM Sans";
    font-weight: 500;
}

.links{
    text-decoration: none;
    color:black;
}

.login {
    width:170px;
    height:48px;
    background-color: #FA6039;
    color:white;
    font-family: "Poppins";
    font-weight: 500;
    border:none;
    border-radius: 6px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

#imageContent{
    width:431px;
    height:500px;
}

.vector{
    width:34px;
    height: 34px;
}

.vectorBox{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width:457px;
    height:406px;
}

.vectorItem{
    display: flex;
    align-items: center;
    width:166px;
    height:34px;
    gap: 32px
}

.vectorButton {
    width:170px;
    height:48px;
    background-color: #000000;
    color:white;
    font-family: "Poppins";
    font-weight: 500;
    border:none;
    border-radius: 6px;
}

.background{
    background-color: #FFDFCE;   
}

.paragraph {
    margin: 0;
}

.offer{
    width:1284px;
    height:669px;
    font-family: "Playfair display";
    font-weight: 500;
    text-align: center;
}

.foodCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:250px;
    height: 375px;
    border-radius: 12px;
    background-color: #FFFFFF;   
}

.food{
    width:88px;
    height:116px;
}

.foodCardText{
    width:200px;
    height: 117px;
}

#footer{
    display: flex;
}

.column{
    padding: 10px;
    width:1440px;
    height: 465px;
    background-color: #FFDFCE;
    text-align: center;
}

.colItems{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:32px;
    font-family: "DM Sans";
    font-weight: 500;
}

.thidColItems{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Inter";
    font-weight: 600;
}
#footerLogo{
    width:200px;
    height:200px;
}