* {
  margin: 0;
  padding: 0;
}
#background {
  background-image: url("./images/background.png");
}

#header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flexRow {
  display: flex;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

nav {
  width: 600px;
  height: 56px;
}

.items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "DM Sans";
  font-weight: 500;
}

.links {
  text-decoration: none;
  color: black;
}

.login {
  width: 170px;
  height: 48px;
  background-color: #fa6039;
  color: white;
  font-family: "Poppins";
  font-weight: 500;
  border: none;
  border-radius: 6px;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
}

#imageContent {
  width: 431px;
  height: 500px;
}

.vector {
  width: 34px;
  height: 34px;
}

.vectorBox {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 457px;
  height: 406px;
}

.vectorItem {
  display: flex;
  align-items: center;
  width: 166px;
  height: 34px;
  gap: 32px;
}

.vectorButton {
  width: 170px;
  height: 48px;
  background-color: #000000;
  color: white;
  font-family: "Poppins";
  font-weight: 500;
  border: none;
  border-radius: 6px;
}

.background {
  background-color: #ffdfce;
}

.paragraph {
  margin: 0;
}

.offer {
  display: flex;
  flex-direction: column;
  font-family: "Playfair display";
  font-weight: 500;
  text-align: center;
  gap: 20px;
}

.foodContent {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.foodCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 306px;
  height: 375px;
  border-radius: 12px;
  background-color: #ffffff;
}

.food {
  width: 88px;
  height: 116px;
}

.foodCardText {
  width: 200px;
  height: 117px;
  font-family: "DM Sans";
  font-weight: 400;
  font-size: 16px;
}

.foodButton {
  width: 280px;
  height: 48px;
  background-color: #fa6039;
  color: white;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 14;
  border: none;
  border-radius: 6px;
}

.blankBackground {
  padding: 50px 0;
}

.SubscriptionContentBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 236px;
  padding: 11px;
  border-radius: 13.87px;
  border: 1px;
}

.subscriptions {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.subscriptionsFood {
  height: 137px;
}

.subscrptionsBox {
  height: 213px;
  padding: 11px;
}

.subscriptionsCard {
  width: 220px;
}

.servicesCard {
  width: 300px;
  height: 460px;
  background-color: #ffffff;
}

.servicesContent {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.servicesImages {
  width: 300px;
  height: 260px;
}

.servicesText {
  margin-left: 20px;
}

.serviceButton1 {
  width: 210px;
  height: 48px;
  border-radius: 6px;
  background-color: #fa6039;
  border: none;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 14px;
  color: #ffffff;
}

.serviceButton2 {
  width: 210px;
  height: 48px;
  border-radius: 6px;
  background-color: #000000;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 14px;
  color: #ffffff;
}

.playfairDisplay {
  font-family: "Playfair Display";
  font-weight: 500;
}

.dmSans {
  font-family: "DM Sans";
  font-weight: 500;
}

.subscriptionsContent {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.quantityCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 220px;
  height: 58px;
}

.AddToCartButton {
  width: 70px;
  height: 57px;
  border-radius: 10px;
  background-color: #fa6039;
  color: white;
}

.buttonValue {
  width: 26px;
  height: 56px;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 37px;
  text-align: center;
}

.input-group {
  width: 133px;
  height: 37px;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
}

#increment {
  width: 37px;
  height: 37px;
  border: 1px #363238 solid;
}

#decrement {
  width: 37px;
  height: 37px;
  border: 1px #363238 solid;
}

#input {
  width: 60px;
  border: 1px #e0e0e0 solid;
  text-align: center;
}

.podcastBackground {
  background-color: #f9f9f7;
  padding-top: 20px;
}

.container {
  width: 1100px;
  height: 839px;
  margin-right: auto;
  margin-left: auto;
}

.image-grid {
  padding-top: 20px;
  border: 1px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 300px;
  gap: 20px;
}

.grid-card-big {
  background-color: #ffffff;
  width: 550px;
  border-radius: 12px;
  border: 1px;
}

.grid-card-little {
  background-color: #ffffff;
  border-radius: 12px;
  border: 1px;
}

.grid-image {
  width: 100%;
  height: 50%;
  object-fit: cover;
  border-radius: 12px 12px 0px 0px;
}

.image-grid-col-2 {
  grid-column: span 2;
}

.image-grid-row-2 {
  grid-row: span 2;
}

.grid-card-big-text {
  width: 482px;
  height: 178px;
  padding: 15px;
}

.grid-card-little-text {
  height: 110px;
  padding: 10px;
}

.contacts {
  width: 170px;
  text-align: left;
}

.clickUp {
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: end;
}

#footer {
  display: flex;
  border-top: 1px black solid;
}

.column {
  padding: 10px;
  width: 1440px;
  background-color: #ffdfce;
  text-align: center;
}

.colItems {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  font-family: "DM Sans";
  font-weight: 500;
}

.thidColItems {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Inter";
  font-weight: 600;
  gap: 20px;
}

#footerLogo {
  width: 347px;
  height: 400px;
}
