* {
  margin: 0;
  padding: 0;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  width: 300px;
  height: 56px;
}

.items {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: "DM Sans";
  font-weight: 500;
}

.links {
  color: black;
}

.poppins-500 {
  font-family: "Poppins";
  font-weight: 500;
  color: #000000;
}

.poppins-400 {
  font-family: "Poppins";
  font-weight: 400;
  color: #000000;
}

.poppins-600 {
  font-family: "Poppins";
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0.005em;
  text-align: left;
}

.roboto-500 {
  font-family: "Roboto";
  font-weight: 500;
}

.dmSans-500 {
  font-family: "DM Sans";
  font-weight: 500;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-credentials {
  width: 113px;
  height: 48px;
  padding: 22px 0px 22px 0px;
  border-radius: 6px;
  gap: 8px;
}

.menu-text {
  color: #1e293b;
  text-align: center;
  font-size: 32px;
  line-height: 36px;
}

.menu-buttons {
  height: 48px;
  gap: 10px;
  margin-left: 0;
  margin-right: 0;
  padding: 20px;
  margin-bottom: 20px;
}

.orange-button {
  width: 170px;
  height: 48px;
  padding: 11px 20px 11px 20px;
  border-radius: 6px;
  background-color: #fa6039;
  color: #ffffff;
  font-size: 14px;
}

.grey-button {
  width: 170px;
  height: 48px;
  padding: 11px 20px 11px 20px;
  border-radius: 6px;
  background-color: #d9d9d9;
  color: #64748b;
  font-size: 14px;
}

.bundles-order-text {
  font-size: 32px;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 24px;
}

.foodContent {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.quantityCard {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 213px;
  height: 50px;
}

.input-group {
  width: 115px;
  height: 32px;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
}

#increment {
  width: 32px;
  height: 32px;
  border: 1px #363238 solid;
}

#decrement {
  width: 32px;
  height: 32px;
  border: 1px #363238 solid;
}

#input {
  width: 60px;
  border: 1px #e0e0e0 solid;
  text-align: center;
}

.subscriptions {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.quantity-card-bundle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 274px;
  height: 50px;
}

.bundles-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
}

.menu-item-container {
  width: 633px;
  height: 751px;
  border-radius: 6px;
  border: 1px #e0e0e0 solid;
  margin-top: 20px;
}

.menu-item-container-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 609px;
  height: 145px;
  padding: 10px;
  gap: 10px;
}

.menu-item-image {
  width: 111px;
  height: 146px;
}

.menu-item-box {
  width: 294px;
  height: 125px;
  padding: 10px;
  gap: 10px;
}

.menu-item-section {
  width: 80%;
  margin: 0 auto;
}

.ingredients-text {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.ingredients-box {
  height: 72px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  padding: 10px 0;
}

.review-box {
  width: 161px;
  height: 92px;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  padding: 10px 0;
}

.drinks-container {
  height: 97px;
  display: flex;
  flex-direction: column;
  padding: 10px 0 30px 0;
}

.drinks-box {
  height: 97px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input[type="checkbox"] {
  display: none;
}
.option {
  display: block;
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  font-size: 16px;
}
.customcheckbox {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  border: 1px solid #fa6039;
}
.option input:checked ~ .customcheckbox {
  background-color: #fa6039;
}
.customcheckbox:after {
  content: "";
  position: absolute;
  display: none;
}
.option input:checked ~ .customcheckbox:after {
  display: block;
}
.option .customcheckbox:after {
  left: 5px;
  bottom: 3px;
  width: 4px;
  height: 12px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.menu-order-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}

.menu-order-container {
  width: 500px;
  height: 325px;
  border: 1px #e0e0e0 solid;
  margin-top: 20px;
}

.order-details-container {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

.menu-order-details-selection {
  width: 90%;
  height: 325px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.text-box {
  width: 250px;
  height: 50px;
  text-wrap: wrap;
  margin-bottom: 20px;
}

.add-button {
  width: 115px;
  height: 32px;
  padding: 5px 8px 6px 8px;
  border-radius: 4px;
  background-color: #fa6039;
  border: none;
}

.order-box-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.order-button-grey {
  width: 220px;
  height: 48px;
  padding: 11px 20px 11px 20px;
  border-radius: 6px;
  gap: 5px;
  background-color: #d9d9d9;
  color: #64748b;
  border: none;
}

.order-button-orange {
  width: 220px;
  height: 48px;
  padding: 11px 20px 11px 20px;
  border-radius: 6px;
  gap: 5px;
  background-color: #fa6039;
  color: #ffffff;
  border: none;
}

.minimum-order-text {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: center;
}

.hour-choice {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
}

.order-limit-exceed {
  text-align: right;
  font-size: 10px;
  color: #f70000;
  gap: unset;
}
